node_modules

zokrates/SetupPool/out
zokrates/SetupPool/out.r1cs
zokrates/SetupPool/abi.json
zokrates/SetupPool/proving.key
zokrates/SetupPool/verification.key

zokrates/SetupMembers/Members.json
zokrates/SetupPool/Pool.zok
contracts/Verifier.sol