node_modules

zokrates/setupPool/out
zokrates/setupPool/out.r1cs
zokrates/setupPool/abi.json
zokrates/setupPool/proving.key
zokrates/setupPool/verification.key
zokrates/setupPool/Pool.zok

zokrates/setupPasswords/poolPassword.json
zokrates/setupPasswords/memberPasswords.json

contracts/Verifier.sol
artifacts
cache